<#@template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(TargetDir)ServiceStack.Text.dll" #>
<#@ assembly name="$(TargetDir)ServiceStack.Interfaces.dll" #>
<#@ assembly name="$(TargetDir)Clarity.TypeScript.CodeGenerator.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Runtime.InteropServices" #>
<#@ import namespace="ServiceStack" #> 
<#@ import namespace="Clarity.TypeScript.CodeGenerator" #> <#@ output extension=".ts" #><#  
    var routeTypes =
        AppDomain.CurrentDomain.GetAssemblies()
        .Where(a => a.FullName.StartsWith("Clarity.TypeScript.CodeGenerator"))
        .SelectMany(a => a.GetTypes().Where(t => t.CustomAttributes.Any(attr => attr.AttributeType == typeof(RouteAttribute))));   

    WriteLine(TypescriptCodeGenerator.Generate(routeTypes));
#>
<#+
    
#>